form{
    margin: 20px auto;
    width: 50%;
}

.form-group{
    margin-bottom: 1rem;
}


.form-control{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(223, 192, 192, 0.459);
}

