.movie-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 1rem;
    justify-items: center;

}

.movie-box{
    background-color: #ccc;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    border-radius: 20px;
}

.movie-box:hover{
    transform: translateY(-30px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: azure;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;

}   

